footer {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  font-style: oblique;
  width: 10%;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #d1e0e0;
  
}

#gomb {
  background-color: #e6f3ff;
  width: 150px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

#gomb a {
  	display: block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

#gomb a:hover {
  	background-color: #008fb3;
    color: white;
    text-shadow: black;
    border-radius: 5px;
}

#title {
  background-color: #e6f3ff;
  width: 20%;
  margin: 0 auto;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
}

#link {
  background-color: #e6f3ff;
  width: 250px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

#link a {
    display: block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

#link a:hover {
    background-color: #008fb3;
    color: white;
    text-shadow: black;
    border-radius: 5px;
}

#link2 {
  background-color: #e6f3ff;
  width: 250px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

#link2 a {
    display: block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

#link2 a:hover {
    background-color: #008fb3;
    color: white;
    text-shadow: black;
    border-radius: 5px;
}

body {
  	text-align: center;

}

input[type=text] {
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
	
}

input[type=password] {
	box-sizing: border-box;
	margin: 8px 0;
	display: inline-block;
	border-radius: 4px;
}

input[type=radio] {
	padding: 5px;
}

input[type=submit] {
	background-color: #e6f3ff;
	font-size: 16px;
	border: 5px black;
	border-radius: 5px;
}


input[type=submit]:hover {
  	background-color: #004466;
    color: white;
    text-shadow: black;
}



input[type=date] {
    padding: 5px 5px;
    margin: 8px 10;
  	border: 1px solid black;
  	background-color: #e6f3ff;
}

button {
  	background-color: #e6f3ff;
  	font-size: 16px;
  	border: 5px black;
  	border-radius: 5px;
}

button:hover {
  	background-color: #004466;
    color: white;
    text-shadow: black;
}
select {
		padding: 5px 5px;
		margin: 8px 0;
		background-color: #e6f3ff;
}

#kep {
  	float:center;
  	width:33%;
  	height:100%
}

#szoveg {
	text-align: justify;
}

#kezdoszoveg {
  text-align: justify;
}

table,td,th,tr{
  border-collapse: collapse;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin-left:auto; 
  margin-right: auto;
}

tr:hover {
  background-color: #f5f5f5;
}

hr#nagyvonal{
  width: 40%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-left:auto; 
  margin-right: auto;
}

hr#kisvonal{
  width: 20%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-left:auto; 
  margin-right: auto;
}


table#hir{
  width: 35%;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right: auto;
  box-shadow: 1px 1px 1px black;
}

tr#none{

}

tr#none:hover{
  background-color: white;
}


p {
  text-align: center;
  font-size: larger;
}

textarea#textarea {
  text-align:left; 
  overflow:auto;
  width: 50%;
  box-sizing: border-box;
  resize: none;
  padding: 12px 20px;
  border: 1px solid grey;
  background-color: #e6f3ff;
}

iframe {
  width: 60%;
  border: 0px;
  height: 450px;
}


#adat {
  font-size: 15px;
  text-align: left;
}

#komi {
  font-size: 20px;
  text-align: center;
}

#ertek {
  font-size: 40px;
  text-align: center;
}