﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MyMasterPage.Master" AutoEventWireup="true" CodeBehind="MutargyakListazasa.aspx.cs" Inherits="BookShopWeb.MutargyakListazasa" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="m_cphMaster" runat="server">
    <asp:GridView ID="mutargyakGridView" runat="server">
</asp:GridView>
</asp:Content>
