﻿<%@ Page Language="C#" Title="List Customers" AutoEventWireup="true" CodeBehind="ListCustomers.aspx.cs"
    Inherits="BookShopWeb.ListCustomers" MasterPageFile="~/MyMasterPage.Master" %>

<asp:Content ContentPlaceHolderID="m_cphMaster" runat="server">
    <br />
    <asp:GridView ID="m_gvCustomers" runat="server" BackColor="#C0CFD1">
    </asp:GridView>
</asp:Content>
