.labelStyle
{
    background-color:#C0CFD1;
    background-position: center;	
    font-family:ScriptS;
    font-size:xx-large;
    font-weight:bold;
}

.menu
{
    background-color:#C0CFD1;	
    font-size: medium;
    font-family:Verdana;
    font-weight:bold;
    height: 42px;
    width: 373px;	
}

.menu a:link
{
    color:#FF9900;
}

.menu a:visited
{
    color:White;
}

.menu a:hover
{
    background-color:#7C6F57;
    color:White;
    font-weight:bold;
}

.menu a:active
{
    color:White;
}

.menu.dynamicMenuItem
{
    padding:5px;
    color:White;
    background-color:#5D7B9D;
}